@use "./sass/variables" as v;
@use "./sass/fluid-typography/_config" as config;
@use "./sass/fluid-typography/mixins/fluid-typography";
@use "./sass/_font-family";
@use "./sass/_typography";
@use "./sass/_theme" as theme;
@use "./sass/_print";
@use "./sass/next/next-transition";
@use "./sass/next/loading";

@use "./sass/sections/_earth";

@use 'tailwindcss';
@use "./sass/fluid-typography/_typography-helpers";


@layer utilities {
  .w-192 {
    width: 48rem;
  }

  .h-192 {
    height: 48rem;
  }
}

// Apply Sass variables to CSS variables
:root {
  --font-weight-light: v.$font-weight-light;
  --font-weight-dark: v.$font-weight-dark;
  /* Base colors */
  --color-primary: #{theme.$primary};
  --color-primary-light: #{theme.$primary-light};
  --color-primary-hover: #{theme.$primary-hover};

  /* Text colors */
  --color-text: #{theme.$text-light};
  --color-text-light: #{theme.$text-light};
  --color-text-secondary: #{theme.$text-secondary-light};

  /* Background colors */
  --color-background: #{theme.$background-dark};
  --color-background-card: #{theme.$background-card-dark};
  --color-background-dark: #{theme.$background-dark};

  /* Accent colors for solutions */
  --color-accent-agves: #{theme.$accent-agves};
  --color-accent-i-go: #{theme.$accent-i-go};
  --color-accent-multipass: #{theme.$accent-multipass};
  --color-accent-mihai: #{theme.$accent-mihai};
  --color-accent-blue-planet: #{theme.$accent-blue-planet};

  --transition-duration: 600ms;
}


:root {
  color-scheme: light dark;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #{theme.$text-light};
    --color-text-light: #{theme.$text-light};
    --color-text-secondary: #{theme.$text-secondary-light};
    --color-background: #{theme.$background-dark};
    --color-background-card: #{theme.$background-card-dark};
  }
}


@media (prefers-contrast: high) {
  :root {
    --color-text: #000;
    --color-background: #fff;
  }
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-primary), sans-serif;
  min-height: 100vh;
  overflow-x: hidden;

  &::after {
    //content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-background-dark);
    z-index: 9999;
    opacity: 0;
    transition: opacity var(--transition-duration) ease;
    pointer-events: none;
    will-change: opacity;
  }

  &.exiting::after {
    opacity: 1;
  }

  &.entering::after {
    opacity: 1;
    transition-duration: var(--transition-duration);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

html, body {
  overflow-x: hidden;
}

.hero-section,
.our-solutions-section,
.trusted-brands-section {
  transition: opacity var(--transition-duration) ease,
  transform var(--transition-duration) ease;

  &.exiting {
    opacity: 0;
    transform: translateY(-30px);
  }
}
