@use 'theme' as theme;

@media print {
  :root {
    font-size: 12pt;
    --color-text: #000;
    --color-background: #fff;
  }

  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
}
