@use "variables" as v;

:root {
  --color-text: #171717;
  --color-background: #ffffff;
  --color-primary: #2563eb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #ededed;
    --color-background: #06030F;
    font-weight: v.$font-weight-dark;
  }
}

@media (prefers-contrast: high) {
  :root {
    --color-text: #000;
    --color-background: #fff;
  }
}
