@use "variables" as v;

/* src/app/styles/sass/_theme-variables.scss */

// Base Sass variables
$primary: #2563eb;
$primary-light: rgba(37, 99, 235, 0.1);
$primary-hover: #1d4fd8;

$text-dark: #171717;
$text-light: #ededed;
$text-secondary-light: rgba(237, 237, 237, 0.7);
$text-secondary-dark: rgba(23, 23, 23, 0.7);

$background-light: #ffffff;
$background-dark: #06030F;
$background-card-dark: rgba(255, 255, 255, 0.05);
$background-card-light: rgba(15, 23, 42, 0.7);

// Accent colors for solutions
$accent-agves: #4F46E5;
$accent-i-go: #0EA5E9;
$accent-multipass: #8B5CF6;

// Apply Sass variables to CSS variables
:root {
  /* Base colors */
  --color-primary: #{$primary};
  --color-primary-light: #{$primary-light};
  --color-primary-hover: #{$primary-hover};

  /* Text colors */
  --color-text: #{$text-dark};
  --color-text-light: #{$text-light};
  --color-text-secondary: #{$text-secondary-light};

  /* Background colors */
  --color-background: #{$background-light};
  --color-background-dark: #{$background-dark};
  --color-background-card: #{$background-card-dark};

  /* Accent colors for solutions */
  --color-accent-agves: #{$accent-agves};
  --color-accent-i-go: #{$accent-i-go};
  --color-accent-multipass: #{$accent-multipass};
}

@media (prefers-color-scheme: dark) {
  :root {
    font-weight: v.$font-weight-dark;
    --color-text: #{$text-light};
    --color-text-light: #{$text-light};
    --color-text-secondary: #{$text-secondary-light};
    --color-background: #{$background-dark};
    --color-background-card: #{$background-card-dark};
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: #{$text-dark};
    --color-text-light: #{$background-light};
    --color-text-secondary: #{$text-secondary-dark};
    --color-background: #{$background-light};
    --color-background-dark: #0f172a;
    --color-background-card: #{$background-card-light};
  }
}

@media (prefers-contrast: high) {
  :root {
    --color-text: #000;
    --color-background: #fff;
  }
}
