@use "variables" as v;

/* src/app/styles/sass/_theme-variables.scss */

// Base Sass variables
$primary: #2563eb;
$primary-light: rgba(37, 99, 235, 0.1);
$primary-hover: #1d4fd8;

$text-dark: #171717;
$text-light: #ededed;
$text-secondary-light: rgba(237, 237, 237, 0.7);
$text-secondary-dark: rgba(23, 23, 23, 0.7);

$background-light: #ffffff;
$background-dark: #000000;
$background-card-dark: rgba(255, 255, 255, 0.05);
$background-card-light: rgba(15, 23, 42, 0.7);

// Accent colors for solutions
$accent-agves: #4F46E5;
$accent-i-go: #0EA5E9;
$accent-multipass: #8B5CF6;
$accent-mihai: #a855f7;

