@use "theme" as theme;

:export {
  primary: theme.$primary;
  primaryLight: theme.$primary-light;
  primaryHover: theme.$primary-hover;
  textDark: theme.$text-dark;
  textLight: theme.$text-light;
  text-secondaryLight: theme.$text-secondary-light;
  text-secondaryDark: theme.$text-secondary-dark;
  backgroundLight: theme.$background-light;
  backgroundDark: theme.$background-dark;
  background-cardDark: theme.$background-card-dark;
  background-cardLight: theme.$background-card-light;
  accentAgves: theme.$accent-agves;
  accentIGo: theme.$accent-i-go;
  accentMultipass: theme.$accent-multipass;
  accentMihai: theme.$accent-mihai
}
